---
##########################
# versions

manager_version: "5.0.0c"

##########################
# listener

# NOTE: It does not work here to work with inventory groups because
#       the manager's inventory is independent from the rest of the
#       inventory.

manager_listener_broker_hosts:
  - 192.168.16.10
manager_listener_broker_username: openstack
manager_listener_broker_uri: "{% for host in manager_listener_broker_hosts %}amqp://{{ manager_listener_broker_username }}:{{ manager_listener_broker_password }}@{{ host }}:5672/{% if not loop.last %};{% endif %}{% endfor %}"

##########################
# celery

enable_celery: true

flower_traefik: true
flower_host: flower.services.in-a-box.cloud

osism_api_host: "{{ hostvars[inventory_hostname]['ansible_' + internal_interface]['ipv4']['address'] }}"

##########################
# ara

enable_ara: true

ara_server_database_type: sqlite3
ara_server_host: ara.services.in-a-box.cloud
ara_server_traefik: true

##########################
# netbox

enable_netbox: true

netbox_host: "netbox.services.in-a-box.cloud"
netbox_api_url: "https://{{ netbox_host }}"

##########################
# configuration

configuration_directory: /opt/configuration

configuration_type: git
configuration_git_version: feature/test_release5.0.0b
configuration_git_host: github.com
configuration_git_port: 443
configuration_git_repository: osism/cloud-in-a-box.git
configuration_git_protocol: https
