---
##########################
# docker

docker_version: '5:27.5.1'

docker_opts:
  max-concurrent-downloads: 20

##########################
# docker registries

docker_registry: index.docker.io
docker_registry_ansible: quay.io
docker_registry_service: index.docker.io

##########################
# operator

operator_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDIquLz7xZ1rzpsoivjOiZTarg+jri0ezRn823wGw4G0gFfosxPxNJ4BS1LaGjje9YI4JVsU2btDuxcNIvmRehVLPHxRwpDHE+FVajltnF1DQXiySitdbC27N1NIaVbWv8y1C2PFnXL+QUrF2VddOzNnMBXingEV2Ev/bTW/XfVTTArpHsNTS0DJRMpMeUROHmCwxhWjjuFfCcH2EEn5KyBCvgiQIozkwf5Q7nK3DeG2QODxtLPJkmCEuvpqbwZF8VkaE1n1TLr7a9CD/p4sn1+Z1BJO+Zsg72AM9A0lKQ0/1TCsAHLMIoZoNH2F7JeNtApFhDAEg9EZGyk0RDkrKxojYzuimvoyYXI84JDdKx3kDFGiXB3ITDMOFRajGLdgJwAZT2Aw62H0uWQs1dMNRtMgaemLIDmschZDVH5j9iDwEZaKVzJ6LLDSn1Wl09nuZNV8okNIvsBe4X6mHzqwLOYYga/HmI6y4nudTLSeckFraMXGRFFfGHDVpNwKRRavx0= dragon@osism

##########################
# motd

motd_show_ssh: true

##########################
# resolvconf

resolvconf_nameserver:
  - 8.8.8.8
  - 9.9.9.9
resolvconf_search: in-a-box.cloud
resolvconf_dnssec: false

##########################
# hosts

hosts_additional_entries:
  api.in-a-box.cloud: 192.168.16.254
  manager.systems.in-a-box.cloud: 192.168.16.10

##########################
# common

cleanup_cloudinit: false
cleanup_services_extra:
  - NetworkManager
  - iscsid
  - lxcfs
  - nscd
  - ntp

##########################
# limits

limits_extra:
  '*':
    - type: soft
      item: nofile
      value: 262144
    - type: hard
      item: nofile
      value: 1048576

##########################
# kolla

kolla_internal_vip_address: 192.168.16.254

##########################
# hardening

# NOTE: Disabling hardening in the cloud-in-a-box to significantly reduce
#       deployment time.
enable_hardening: false

##########################
# ceph

ceph_cluster_fsid: c2120a4a-669c-4769-a32c-b7e9d7b848f4

##########################
# sysctl

sysctl_extra:
  generic:
    # Fixes "Failed to allocate directory watch: Too many open files"
    - name: fs.inotify.max_user_instances
      value: 256
