---
##########################
# cgit

cgit_host: cgit.services.in-a-box.cloud
cgit_traefik: true

##########################
# homer

homer_host: homer.services.in-a-box.cloud
homer_traefik: true

homer_url_ara: "https://ara.services.in-a-box.cloud/"
homer_url_ceph: "http://manager.systems.in-a-box.cloud:7000"
homer_url_cgit: "https://cgit.services.in-a-box.cloud/"
homer_url_flower: "https://flower.services.in-a-box.cloud/"
homer_url_grafana: "https://api.in-a-box.cloud:3000"
homer_url_horizon: "https://api.in-a-box.cloud/"
homer_url_kibana: "https://api.in-a-box.cloud:5601"
homer_url_netbox: "https://netbox.services.in-a-box.cloud/"
homer_url_netdata: "http://manager.systems.in-a-box.cloud:19999"
homer_url_phpmyadmin: "https://phpmyadmin.services.in-a-box.cloud/"
homer_url_rabbitmq: "https://api.in-a-box.cloud:15672"

homer_url_keycloak: ""
homer_url_prometheus: ""
homer_url_vault: ""

##########################
# netbox

netbox_host: netbox.services.in-a-box.cloud
netbox_traefik: true

##########################
# phpmyadmin

phpmyadmin_host: phpmyadmin.services.in-a-box.cloud
phpmyadmin_traefik: true

##########################
# traefik

traefik_enable: true
traefik_host: "{{ hostvars[inventory_hostname]['ansible_' + internal_interface]['ipv4']['address'] }}"

##########################
# wireguard

wireguard_users:
  - name: dragon
    key: LDweUZxqy/0AieSVw3baZmbRMPBqhfDUcuLAwSYyQkE=
    ip: 192.168.48.4
wireguard_create_client_config: true
wireguard_client_allowed_ips: "192.168.16.0/20,192.168.112.0/24"
