---
##########################################################
# ansible

ansible_python_interpreter: /usr/bin/python3
ansible_host: "{{ '192.168.16.0/24' | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(node_id) | ansible.utils.ipaddr('address') }}"
