---
##########################################################
# ansible

ansible_python_interpreter: /usr/bin/python3
ansible_host: localhost

##########################################################
# generic

internal_address: "{{ '192.168.16.0/24' | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(node_id) | ansible.utils.ipaddr('address') }}"
internal_interface: "{{ network_internal_interface }}"

console_interface: "{{ internal_interface }}"
management_interface: "{{ internal_interface }}"

##########################################################
# network

network_internal_interface: vlan100
network_mgmt_interface: eno1
network_workload_interface: eno2

network_type: netplan

network_ethernets:
  eno1:
    dhcp4: true
  eno2: {}

network_vlans:
  vlan100:
    id: 100
    link: "{{ network_mgmt_interface }}"
    addresses:
      - "192.168.16.{{ node_id }}/24"
